logs/
npm-debug.log
yarn-error.log
node_modules/
package-lock.json
yarn.lock
coverage/
.idea/
run/
.DS_Store
*.sw*
*.un~
typings/
.nyc_output/
source/video/*
!source/video/1.mp4
app/public/video/*
!app/public/video/index.md
ffmpeg/